<div class="modal fade" id="join-team-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Send Membershiop Request</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(Membership.new) do |f| %>
        <%= f.association :team, collection: Team.order(name_alias: :asc).all, label_method: :alias_display_name %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Send Request", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>