        <div class="list-group-item">
          <i class="fa fa-camera-retro fa-4x"></i>
          <p class="list-group-item-text">Email</p>
          <h4 class="list-group-item-heading"><%= member.email %></h4>
        </div>