<h3><%= @team.display_name %> Dashboard</h3>
<div class="row">

  <%= render_clean_tile(
          title: 'Scheduled Orders',
          number: @orders_scheduled.count,
          icon: 'calendar-check-o'
      ) %>

  <%= render_clean_tile(
          title: 'Completed Orders',
          number: @orders_completed.count,
          icon: 'calendar-check-o'
      ) %>

  <%= render_clean_tile(
          title: 'Monthly Total',
          number: number_to_currency(@monthly_total),
          icon: 'usd',
      ) %>

  <%= render_clean_tile(
          title: 'Lifetime Total',
          number: number_to_currency(@lifetime_total),
          icon: 'usd'
      ) %>

</div>

<%= render :partial => 'order_lines/table',
           locals: {
               order_lines: @orders_scheduled,
               name: 'Upcoming Orders'
           } %>

<div class="row">
  <%= render :partial => 'events',
             locals: {
                 title: 'Upcoming Events',
                 events: @upcoming_events,
                 url: new_team_event_slot_path(@team),
                 text: 'New'
             } %>

  <%= render :partial => 'events',
             locals: {
                 title: 'Past Events',
                 events: @past_events
             } %>
</div>

<%= render :partial => 'order_lines/available_orders',
           locals: {
               order_lines: @available_orders,
               name: 'Available Orders'
           } %>
