<div class="row">

  <div class="col-sm-6 bootcards-list">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Team Details</h3>
        <a class="btn btn-primary btn-sm pull-right" href="#" data-toggle="modal" data-target="#team_modal">
          <i class="fa fa-pencil"></i>
          Edit
        </a>
      </div>
      <div class="list-group" id="team_details">
        <%= render :partial => 'team_details', locals: {:team => @team} %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 bootcards-cards">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Members</h3>
      </div>
      <div class="list-group" id="approved_memberships">
        <%= render partial: 'memberships/membership', collection: @approved_memberships %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 bootcards-cards">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Membership Requests</h3>
      </div>
      <div class="list-group" id="pending_memberships">
        <%= render partial: 'memberships/membership', collection: @pending_memberships %>
      </div>
    </div>
  </div>
</div>