      <tr>
        <td><%= faction.display_name %></td>
        <td><%= link_to 'Edit', edit_admin_faction_path(faction) %></td>
        <td><%= link_to 'Destroy', admin_faction_path(faction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr
      