      <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-xs">
          <i class="fa fa-cogs"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_admin_event_event_slot_path(event_slot.event, event_slot) %></li>
          <li><%= link_to '<i class="fa fa-trash"></i> Destroy'.html_safe, admin_event_event_slot_path(event_slot.event, event_slot), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
