<div class="row">
	<div class="col-md-1 text-right">
		<%= render partial: 'admin/event_slots/dropdown_options', locals: {event_slot: event_slot} %>
	</div>
	<div class="col-md-3">
		<%= event_slot.title %>
	</div>
	<div class="col-md-3">
		<%= event_slot.character_display %>
	</div>
</div>