  <div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <ul class="cl-vnavigation">
            <% if user_signed_in? %>
            <%= render partial: 'menus/admin/main' if current_user.admin? %>
            <%= render partial: 'menus/user_teams' %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="text-right collapse-button" style="padding:7px 9px;">
        <!-- <input type="text" class="form-control search" placeholder="Search..." /> -->
        <button id="sidebar-collapse" class="btn btn-default" style="">
          <i style="color:#fff;" class="fa fa-angle-left"></i>
        </button>
      </div>
    </div>
  </div>
