<% if user_signed_in? &&  %>
<li><a href="#"><i class="fa fa-trophy"></i><span>My Teams</span></a>
  <ul class="sub-menu">
    <%= nav_link('Add Team', new_team_path, icon: 'plus') %>
    <% if current_user.approved_teams.any? %>
    <% current_user.approved_teams.order(name: :asc).each do |team| %>
    <%= content_tag :li, class: 'sub-nav' do %>
    <%= link_to team.display_name, "#" %>
    <%= content_tag :ul, class: 'sub-menu' do %>

    <%= nav_link('Dashboard', dashboard_team_path(team), {icon: 'dashboard'}) %>
    <%= nav_link('Details', team, {icon: 'eye'}) %>
    <%= nav_link('Completed Orders', completed_orders_team_path(team), {icon: 'check'}) %>
    <%= nav_link('Schedule', team_event_slots_path(team), {icon: 'calendar'}) %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </ul>
</li>
<% end %>
