      <tr>
        <td><%= mount.display_name %></td>
        <td><%= link_to 'Edit', edit_admin_mount_path(mount) %></td>
        <td><%= link_to 'Destroy', admin_mount_path(mount), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr
      