<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_status.name %>
</p>

<%= link_to 'Edit', edit_payment_status_path(@payment_status) %> |
<%= link_to 'Back', payment_statuses_path %>
