      <tr>
        <td><%= play_style.display_name %></td>
        <td><%= link_to 'Edit', edit_admin_play_style_path(play_style) %></td>
        <td><%= link_to 'Destroy', admin_play_style_path(play_style), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr
      