<div class="row">
	<h3>Schedule</h3>
	<% @events_by_date.each do |date, events| %>
	<div class="block-flat">
		<div class="header">
			<%= date.strftime("%A, %B %e %Y") %>
			</div>
			<div class="content">
			<%= render partial: 'events', collection: events  %>
			</div>
		</div>
		<% end %>
	</div>
	<%= link_to 'New Event', new_admin_event_path, class: 'btn btn-primary' %>