	      <div class="list-group-item">
	        <div class="row">
          <i class="fa fa-camera-retro fa-4x"></i>
          <p class="list-group-item-text">Name</p>
          <h4 class="list-group-item-heading"><%= team.display_name %></h4>
	        </div>
	      </div>