<div class="row">

  <%= render_clean_tile(
          title: 'Scheduled Orders',
          number: @orders_scheduled.count,
          icon: 'calendar',
          path: admin_scheduled_path,
          path_title: number_to_currency(@orders_scheduled.sum(:sale).to_i)
      ) %>

  <%= render_clean_tile(
          title: 'Pending Scheduling',
          number: @orders_pending_scheduling.count,
          icon: 'calendar-times-o',
          path: admin_pending_scheduling_path,
          path_title: number_to_currency(@orders_pending_scheduling.sum(:sale).to_i)
      ) %>

  <%= render_clean_tile(
          title: 'Leads',
          number: @orders_leads.count,
          icon: 'calendar',
          path: admin_leads_path,
          path_title: number_to_currency(@orders_leads.sum(:sale).to_i)
      ) %>

  <%= render_header_tile(
          header: 'Unsettled Funds',
          number: number_to_currency(@orders_unsettled.sum(:sale).to_i),
          icon: 'usd',
      ) %>

</div>

<div class="row">
  <div class="col-md-4">
    <div class="block-flat">
      <div class="header">
        <h4>Top 5 Teams</h4>
      </div>
      <div class="content">
        <table class="no-border table table-hover" id="admin-team-totals">
          <thead class="no-border">
          <tr>
            <th>Team</th>
            <th>Count</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody class="no-border-y">
          <% @team_totals.each do |team| %>
              <tr>
                <td><%= team.name.titleize %></td>
                <td><%= team.count %></td>
                <td><%= number_to_currency team.sum %></td>
              </tr>
          <% end %>
          </tbody>
          <tfoot class="no-border"></tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="block-flat">
      <div class="header">
        <h4>Top 5 Clients</h4>
      </div>
      <div class="content">
        <table class="no-border table table-hover" id="admin-customer-totals">
          <thead class="no-border">
          <tr>
            <th>Client</th>
            <th>Count</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody class="no-border-y">
          <% @customer_totals.each do |customer| %>
              <tr>
                <td><%= customer.email %></td>
                <td><%= customer.count %></td>
                <td><%= number_to_currency customer.sum %></td>
              </tr>
          <% end %>
          </tbody>
          <tfoot class="no-border"></tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="block-flat">
      <div class="header">
        <h4>Upcoming Vacancies</h4>
      </div>
      <div class="content">
        <table class="no-border table table-hover datatable" id="admin-dashboard-vacancies">
          <thead class="no-border">
          <tr>
            <th>Date</th>
            <th>Team</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Zone</th>
            <th>Mount</th>
            <th>Loot Option</th>
            <th>Play Style</th>
          </tr>
          </thead>
          <tfoot class="no-border">
          <tr>
            <th>Date</th>
            <th>Team</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Zone</th>
            <th>Mount</th>
            <th>Loot Option</th>
            <th>Play Style</th>
          </tr>
          </tfoot>
          <tbody class="no-border-y">
          <% @upcoming_vacancies.each do |slot| %>
              <tr
              class="<%= slot.team.faction.name %>">
                <td><%= slot.start_time.to_s(:order_line) %></td>
                <td><%= slot.team.display_name %></td>

                <td><%= slot.product.category.display_name %></td>
                <td><%= slot.product.difficulty.display_name %></td>
                <td><%= slot.product.zone.display_name %></td>

                <td><%= slot.product.mount.display_name %></td>
                <td><%= slot.product.loot_option.display_name %></td>
                <td><%= slot.product.play_style.display_name %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :foot_js do %>

<% end %>
