<div id="charactersCard">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Characters</h3>
    </div>
    <div class="list-group">
      <!-- Repeating -->
      <div class="list-group-item">
        <p class="list-group-item-heading"></p>
      </div>
      <!-- End Repeating -->
    </div>
  </div>
</div>