				<%= link_to("skype:#{customer.skype}?chat", class: 'list-group-item') do %>	
					<i class="fa fa-2x pull-left fa-skype"></i>
					<p class="list-group-item-text">Skype</p>
					<h4 class="list-group-item-heading"><%= customer.skype %></h4>			
				<% end %>