<div class="row">
  <div class="col-md-12">
    <div class="block-flat">
      <h3>Customers</h3>
      <table class="no-border datatable">
        <thead class="no-border">
          <th>Email Address</th>
          <th>Battle Tag</th>
          <th>Skype</th>
          <th>Orders</th>
          <th>Total</th>
        </thead>
        <tbody class="no-border-y">
          <% if @customers.count > 0 %>
          <%= render @customers %>
          <% else %>
          <tr>
            <td colspan="5" class="text-center">There are no customers.</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
