<div class="row">
  <div class="col-md-6">
    <div class="block-flat">
      <h3>Customers</h3>
      <table class="no-border datatable">
        <thead class="no-border">
          <th>Email Address</th>
          <th>Orders</th>
          <th>Total</th>
        </thead>
        <tbody class="no-border-y">
          <% if @customers.any? %>
          <%= render @customers %>
          <% else %>
          <tr>
            <td colspan="5" class="text-center">There are no customers.</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="block-flat">
      <h3>Skype Contacts</h3>
      <table class="no-border" id="skype_contacts_table">
        <thead class="no-border">
          <th>Address</th>
          <th>Owner</th>
        </thead>
        <tbody class="no-border-y">
          <% if @skype_contacts.count > 0 %>
          <%= render partial: 'admin/customers/skype', collection: @skype_contacts %>
          <% else %>
          <tr>
            <td colspan="5" class="text-center">There are no skype contacts.</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :foot_js do %>
    $('#skype_contacts_table').dataTable({
        "pageLength": 15,
        "lengthChange": false,
        "columnDefs": [ {
          "targets": 1,
          "searchable": false
        } ]
  });
<% end %>
