<div class="col-md-12">
  <table class="table table-condensed" id="admin-customers-table">
    <thead>
      <tr>
        <th>Email Address</th>
        <th>Battle Tag</th>
        <th>Skype</th>
        <th>Orders</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <%= render @customers %>
    </tbody>
  </table>
</div>
