<div class="row">
  <div class="col-sm-4 col-sm-offset-2  bootcards-list">
    <div id="customersList">
      <div class="panel panel-default">
        <div class="list-group">
          <%= render partial: 'customer', collection: @customers %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 bootcards-cards">
    <%= render 'contactCard', object: @customer %>
    <% if @recent_completed_orders.count > 1 %>
      <%= render 'recentOrdersCard', object: @recent_completed_orders %> 
      <%= render 'customerTotalsCard' %>
    <% end %>
  </div>
</div>