<div class="row">

	<div class="col-md-4">
		<div class="block-flat">
			<h3>Contacts</h3>
			<table class="no-border">
				<tbody class="no-border-x">
					<tr>
						<th>Email (Primary)</th>
						<td><%= @customer.email %></td>
					</tr>
					<% @customer.customer_contacts.each do |contact| %>
					<tr>
						<th><%= contact.display_type %></th>
						<td><%= contact.value %></td>
						<td>
							<%= link_to admin_customer_contact_path(@customer, contact), method: :delete, data: { confirm: 'Are you sure?' } do %>
							<i class="fa fa-trash"></i>
							<% end %>
							</td>
					</tr>
					<% end %>
					<tr>
						<td colspan="3">
							<%= link_to 'New', new_admin_customer_contact_path(@customer) %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<% if @completed_orders.any? %>
	<div class="col-md-4">
		<div class="block-flat">
			<h3>Summary</h3>
			<table class="no-border">
				<tbody class="no-border-x">
					<tr>
						<th># Sales</th>
						<td><%= @customers_completed_orders.count(:sale) %></td>
					</tr>
					<tr>
						<th>Avg. Sale</th>
						<td><%= number_to_currency @customers_completed_orders.average(:sale) %></td>
					</tr>
					<tr>
						<th>Total Sales</th>
						<td><%= number_to_currency @customers_completed_orders.sum(:sale) %> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<div class="block-flat">
			<h3>Team History</h3>
			<table class="no-border">
				<thead class="no-border">
					<tr>
						<th>Team</th>
						<th>#</th>
						<th>Total $</th>
					</tr>
				</thead>
				<tbody class="no-border-y">
					<% @customers_completed_orders.group_by(&:team).each do |team, orders| %>
					<tr>
						<td><%= team.display_name %></td>
						<td><%= orders.count %></td>
						<td><%= number_to_currency orders.sum(&:contractor_payment) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="block-flat">
      <h3>Order History</h3>
      <table class="no-border" id="admin-customers-order-history">
        <thead class="no-border">
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Character</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Zone</th>
            <th>Description</th>
            <th>Mount</th>
            <th>Sale</th>
          </tr>
        </thead>
        <tbody class="no-border-y">
          <% @completed_orders.each do |order_line| %>
          <tr>
            <td><%= link_to "##{order_line.order}", admin_order_line_path(order_line) %></td>
            <td><%= order_line.completed_at.to_s(:order_line) %></td>
            <td>
              <%= faction_sprite(order_line.faction) %>
              <%= character_sprite(order_line.character) %>
            </td>
            <td><%= order_line.product.category.display_name %></td>
            <td><%= order_line.product.difficulty.display_name %></td>
            <td><%= order_line.product.zone.display_name %></td>
            <td><%= order_line.product.display_name %></td>
            <td><%= order_line.product.mount.display_name %></td>
            <td style="text-align:right;"><%= number_to_currency order_line.sale %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %>
<div class="col-md-12">
	<div class="btn-group">
		<%= link_to "Edit", edit_admin_customer_path(@customer), class: 'btn btn-primary' %>
	</div>
</div>
<% content_for :foot_js do %>
$('#admin-customers-order-history').dataTable({
    "pageLength": 5,
    "lengthChange": false,
    "order": [[ 1, 'desc' ]],
    "columnDefs": [
    { "orderable": false, "targets": 2 }
  ]
});
<% end %>
