      <tr>
        <td><%= zone.display_name %></td>
        <td><%= link_to 'Edit', edit_admin_zone_path(zone) %></td>
        <td><%= link_to 'Destroy', admin_zone_path(zone), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr
      