<div class="col-md-3 col-sm-6">
  <div class="fd-tile header tile-<%= color %>">
    <div class="header">
      <div class="ico"><i class="fa fa-map-marker"></i></div>
      <div class=" title"> <%= display_header %></div>
    </div>
    <div class="content"><p><%= display_text %></p><h1><%= display_number %></h1></div>
    <div class="icon"><!-- Need Icon Here --></div>
  </div>
</div>
