<div class="col-md-3 col-sm-6">
  <div class="fd-tile detail clean tile-purple">
    <div class="content"><h1 class="text-left"><%= number %></h1><p><%= title %></p></div>
    <div class="icon"><i class="fa fa-<%= icon %>"></i></div>
    <% if defined? path %>
    <%= link_to path, class: 'details' do %>
    &nbsp;<span>DETAILS <i class="fa fa-arrow-circle-right pull-right"></i></span>
    <% end %>
    <% end %>
  </div>
</div>
