  <div class="col-md-6">
    <h4><%= title %></h4>
    <div class="block-flat">
      <table class="no-border">
        <thead class="no-border">
          <tr>
          </tr>
        </thead>
        <tbody class="no-border-y">
          <%= body  %>
        </tbody>
        <tfoot class="no-border"></tfoot>
      </table>
    </div>
  </div>
