<%= simple_form_for([:admin, @order_line], class: 'group-border-dashed') do |f| %>
<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <div class="block-flat">
      <div class="header">
        <h3>Order Details</h3>
      </div>
      <div class="content row">

        <div class="col-md-3">
          <%= f.label :order %>
          <div class="input-group">
            <span class="input-group-addon">#</span>
            <%= f.input :order, label: false, class: 'form-control', placeholder: '9999' %>
          </div>
        </div>

        <div class="col-md-9">
          <%= f.label :customer %>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-envelope-o"></i>
            </span>
            <%= f.association :customer,
            label: false,
            input_html: {class: 'select2'} %>
          </div>
        </div>

        <div class="col-md-3">
          <%= f.label :sale %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.input :sale, label: false, class: 'form-control', placeholder: '0.00' %>
          </div>
        </div>

        <div class="col-md-3">
          <%= f.label :merchant_fee %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.input :merchant_fee, label: false, class: 'form-control', placeholder: '0.00' %>
          </div>
        </div>

        <div class="col-md-3">
          <%= f.label :site_fee %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.input :site_fee, label: false, class: 'form-control', placeholder: '0.00' %>
          </div>
        </div>

        <div class="col-md-3">
          <%= f.input :order_paid, as: :select %>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="block-flat">
      <div class="header">
        <h3>Character Details</h3>
      </div>
      <div class="content row">
        <div class="col-md-4">
          <%= f.association :region %>
        </div>

        <div class="col-md-4">
          <%= f.association :faction %>
        </div>

        <div class="col-md-4">
          <%= f.association :character, collection: Character.includes(:classification).all, :include_blank => true, input_html: { class: 'select2' } %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="block-flat">
      <div class="header">
        <h3>Team Details</h3>
      </div>
      <div class="content row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.association :team, collection: Team.order(name: :asc).all, :include_blank => true, input_html: { class: 'select2' } %>
        </div>

        <div class="col-md-4">
          <%= f.input :scheduled_at, :as => :string, placeholder: 'YYYY-MM-DD HH:MM', :input_html => {class: 'datetime'} %>
        </div>

        <div class="col-md-4 col-md-offset-2">
          <%= f.input :team_paid, as: :select, :include_blank => true, input_html: { class: 'select2' } %>
        </div>

        <div class="col-md-4">
          <%= f.label :contractor_payment %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.input :contractor_payment, label: false, class: 'form-control', placeholder: '0.00' %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="block-flat">
      <div class="header">
        <h3>Product</h3>
      </div>
      <div class="content row">

        <div class="col-md-4">
          <div class="form-group select optional">
            <%= label_tag "category", "Category", class: 'select optional control-label' %>
            <%= select_tag "category", options_from_collection_for_select(Category.all.order(name: :asc), "id", "name"), include_blank: 'Category', class: 'select optional form-control product-option' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group select optional">
            <%= label_tag "difficulty", "Difficulty", class: 'select optional control-label' %>
            <%= select_tag "difficulty", options_from_collection_for_select(Difficulty.all.order(name: :asc), "id", "name"), include_blank: 'Difficulty', class: 'select optional form-control product-option' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group select optional">
            <%= label_tag "zone", "Zone", class: 'select optional control-label' %>
            <%= select_tag "zone", options_from_collection_for_select(Zone.all.order(name: :asc), "id", "name"), include_blank: 'Zone', class: 'select optional form-control product-option' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group select optional">
            <%= label_tag "mount", "Mount", class: 'select optional control-label' %>
            <%= select_tag "mount", options_from_collection_for_select(Mount.all.order(name: :asc), "id", "name"), include_blank: 'Mount', class: 'select optional form-control product-option' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group select optional">
            <%= label_tag "loot_option", "Loot Option", class: 'select optional control-label' %>
            <%= select_tag "loot_option", options_from_collection_for_select(LootOption.all.order(name: :asc), "id", "name"), include_blank: 'Loot Option', class: 'select optional form-control product-option' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group select optional">
            <%= label_tag "play_style", "Play Style", class: 'select optional control-label' %>
            <%= select_tag "play_style", options_from_collection_for_select(PlayStyle.all.order(name: :asc), "id", "name"), include_blank: 'Play Style', class: 'select optional form-control product-option' %>
          </div>
        </div>
<% content_for :foot_js do %>
$().ready(function(){
  var getParams = function(select){
    var key = select.attr('id');
    var value = select.find('option:selected').text();

    if(key && value){
      return {key: key, value: value};
    }
  };

  function IsObject(value){
    return typeof value === 'object'
  }


  $('.product-option').on('change', function(event){
    var data = new Object();

    $('.product-option').each(function(i){
      var param = getParams($(this));
      if(param){
        data[param["key"]] = param["value"];
      }
    });

    $.ajax({
      url: '<%= search_admin_products_url %>',
      data: {data},
    })
    .done(function(results){
      var $el = $('#order_line_product_id');
      $el.empty();
      $el.append($('<option>Select a Product</option>'));
      $.each(results.products, function(key, value){
        $el.append($('<option value="' + this.id + '">' + this.description + '</option>'));
      });
      $el.select2();
    });

  });
});
<% end %>


        <div class="col-md-12">
          <%= f.association :product, collection: Product.includes(:category, :difficulty, :zone, :play_style, :loot_option, :mount), :include_blank => 'Select a Product', input_html: { class: 'select2' } %>
        </div>

      </div>
    
      <div class="content row">
        <div class="col-md-12">
          <div class="button-group">
            <%= f.button :submit, 'Save', class: 'btn-primary btn-block' %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- End of Row -->
<% end %> <!-- End Form -->
