# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: First User
  admin_email: user@example.com
  admin_password: changeme
  admin_name: example
  domain_name: example.com
  secret_key_base: 6f860e4c9e1dea502efeb8632742e28c28e0976c9b80eb2b4f4e52a7445483a95ee61540ac0b55b2f0e713c69cd98f1f9113d84a343f4f436ddee016d1f9cb63

test:
  domain_name: example.com 
  secret_key_base: b9fca5bfa7702de43028fe3080d50c3a00238115f257225ac081b7a55f1ad334da388fd55d83c3242cb0635f8503db432d8866d52ba12fdba69a1ad4f79a1023

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
