<li><a href="#"><i class="fa fa-diamond"></i><span>Orders</span></a>
  <ul class="sub-menu">
  <%= nav_link('Create Order', new_admin_order_line_path, nil) %>
  <%= nav_link('Orders Admin', admin_order_lines_path, nil) %>
  </ul>
</li>

