<li><a href="#"><i class="fa fa-trophy"></i><span>Teams</span></a>
  <ul class="sub-menu">
    <%= nav_link('Create Team', new_admin_team_path) %>
    <%= nav_link('Team Admin', admin_teams_path) %>
    <%= nav_link('Membership Admin', admin_memberships_path) %>
  </ul>
</li>

