<li><a href="#"><i class="fa fa-users"></i><span>Users</span></a>
  <ul class="sub-menu">
    <%= nav_link('Create Customer', new_admin_customer_path) %>
    <%= nav_link('Customers Admin', new_admin_customer_path) %>
    <%= nav_link('Members Admin', new_admin_customer_path) %>
  </ul>
</li>
