<li><a href="#"><i class="fa fa-users"></i><span>Users</span></a>
  <ul class="sub-menu">
    <%= nav_link('Add Customer', new_admin_customer_path) %>
    <%= nav_link('Customers Admin', admin_customers_path) %>
    <%= nav_link('Members Admin', admin_users_path) %>
  </ul>
</li>
