<%= simple_form_for([@team, @event_slot]) do |f| %>
  <%= f.error_notification %>
    <div class="col-md-6 col-md-offset-3">
      <div class="block-flat">
        <div class="content-row">
          <%= f.association :character, :prompt => 'Vacant' %>
        </div>
        <div class="content-row">
          <%= f.input :start_time, :as => :string, placeholder: 'YYYY-MM-DD HH:MM', :input_html => {class: 'datetime'} %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-3 product-selector">
      <div class="block-flat">
        <div class="header">
          <h3>Product</h3>
        </div>
        <div class="content row product-selector__content">
          <div class="col-md-4">
            <div class="form-group select optional">
              <%= label_tag 'category', 'Category', class: 'select optional control-label' %>
              <%= select_tag 'category', options_from_collection_for_select(Category.all.order(name: :asc), 'id', 'name'), include_blank: 'Category', class: 'select optional form-control product-option' %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group select optional">
              <%= label_tag 'difficulty', 'Difficulty', class: 'select optional control-label' %>
              <%= select_tag 'difficulty', options_from_collection_for_select(Difficulty.all.order(name: :asc), 'id', 'name'), include_blank: 'Difficulty', class: 'select optional form-control product-option' %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group select optional">
              <%= label_tag 'zone', 'Zone', class: 'select optional control-label' %>
              <%= select_tag 'zone', options_from_collection_for_select(Zone.all.order(name: :asc), 'id', 'name'), include_blank: 'Zone', class: 'select optional form-control product-option' %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group select optional">
              <%= label_tag 'mount', 'Mount', class: 'select optional control-label' %>
              <%= select_tag 'mount', options_from_collection_for_select(Mount.all.order(name: :asc), 'id', 'name'), include_blank: 'Mount', class: 'select optional form-control product-option' %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group select optional">
              <%= label_tag 'loot_option', 'Loot Option', class: 'select optional control-label' %>
              <%= select_tag 'loot_option', options_from_collection_for_select(LootOption.all.order(name: :asc), 'id', 'name'), include_blank: 'Loot Option', class: 'select optional form-control product-option' %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group select optional">
              <%= label_tag 'play_style', 'Play Style', class: 'select optional control-label' %>
              <%= select_tag 'play_style', options_from_collection_for_select(PlayStyle.all.order(name: :asc), 'id', 'name'), include_blank: 'Play Style', class: 'select optional form-control product-option' %>
            </div>
          </div>
          <div class="col-md-12">
            <%= f.association :product, collection: Product.includes(:category, :difficulty, :zone, :play_style, :loot_option, :mount), :include_blank => 'Select a Product', input_html: { class: 'select2' } %>
          </div>

        </div>

        <div class="content row">
          <div class="col-md-12">
            <div class="button-group">
              <%= f.button :submit, 'Save', class: 'btn-primary btn-block' %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
