<div class="row">
  <div class="col-md-6">
    <div class="block-flat">
      <div class="header clearfix">
        <h2 class="pull-left">Upcoming Events</h2>
        <%= link_to new_team_event_slot_path do %>
            <button type="button" class="btn btn-primary pull-right">New</button>
      <% end %>
      </div>
      <div class="content">
        <table class="no-border table table-hover j-dataTable" id="upcoming-events-table">
          <thead class="no-border">
          <tr>
            <th>Start time</th>
            <th>Product</th>
            <th>Character</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="no-border-y">
          <% @upcoming_events.each do |event_slot| %>
              <tr>
                <td><%= event_slot.start_time.to_s(:order_line) %></td>
                <td><%= event_slot.product.display_name %></td>
                <td><%= event_slot.display_character %></td>
                <td><%= link_to 'Edit', [:edit, @team, event_slot] %> <%= link_to 'Destroy', [@team, event_slot], method: :delete, data: {confirm: 'Are you sure?'} %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="block-flat">
      <div class="header"><h2>Past Events</h2></div>
      <div class="content">
        <table class="no-border table table-hover j-dataTable" id="past-events-table">
          <thead class="no-border">
          <tr>
            <th>Start time</th>
            <th>Product</th>
            <th>Character</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="no-border-y">
          <% @past_events.each do |event_slot| %>
              <tr>
                <td><%= event_slot.start_time.to_s(:order_line) %></td>
                <td><%= event_slot.product.display_name %></td>
                <td><%= event_slot.display_character %></td>
                <td> <%= link_to 'Edit', [:edit, @team, event_slot] %> <%= link_to 'Destroy', [@team, event_slot], method: :delete, data: {confirm: 'Are you sure?'} %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
