<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @event_slot.team %>
</p>

<p>
  <strong>Product:</strong>
  <%= @event_slot.product %>
</p>

<p>
  <strong>Character:</strong>
  <%= @event_slot.character %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event_slot.start_time %>
</p>

<%= link_to 'Edit', [:edit, @team, @event_slot] %> |
<%= link_to 'Back', team_event_slots_path %>
