<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @primary_stat.name %>
</p>

<%= link_to 'Edit', edit_primary_stat_path(@primary_stat) %> |
<%= link_to 'Back', primary_stats_path %>
