		<%= simple_form_for([:admin, @tier_token]) do |f| %>
		    <div class="form-inputs">
		    <%= f.input :name %>
		  </div>
			<div class="btn-group">
				<%= f.button :submit, :class => "btn btn-primary btn-sm" %>
				<%= yield :buttons %>
			</div>
		<% end %>		