/*
*= require bootstrap/dist/css/bootstrap.css
*= require select2
*= require jPushMenu/css/jPushMenu.css
*= require nanoscroller/bin/css/nanoscroller.css
*= require flat-dream/style
*= require eonasdan-bootstrap-datetimepicker
*= require datatables.net-bs/css/dataTables.bootstrap
*= require fullcalendar
*= require font-awesome/css/font-awesome
*= require_self
*= require_tree .
*/

/* Bootstrap Glyphicon override */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff2')) format('woff2'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

/* Font Awesome override */
@font-face {
  font-family: 'FontAwesome';
  src: url(asset_path('fontawesome-webfont.eot?v=4.5.0'));
  src: url(asset_path('fontawesome-webfont.eot?#iefix&v=4.5.0')) format('embedded-opentype'), url(asset_path('fontawesome-webfont.woff2?v=4.5.0')) format('woff2'), url(asset_path('fontawesome-webfont.woff?v=4.5.0')) format('woff'), url(asset_path('fontawesome-webfont.ttf?v=4.5.0')) format('truetype'), url(asset_path('fontawesome-webfont.svg?v=4.5.0#fontawesomeregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--single {
   border-radius: 0px;
   border: 1px solid #ccc;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container {
width: 100% !important;
padding: 0;
}

table tbody tr.horde td {
  background-color: rgba(255, 0, 0, 0.09);
}

table tbody tr.alliance td {
  background-color: rgba(0,0,255,0.05);
}

.table > thead > tr > td.alliance,
.table > tbody > tr > td.alliance,
.table > tfoot > tr > td.alliance,
.table > thead > tr > th.alliance,
.table > tbody > tr > th.alliance,
.table > tfoot > tr > th.alliance,
.table > thead > tr.alliance > td,
.table > tbody > tr.alliance > td,
.table > tfoot > tr.alliance > td,
.table > thead > tr.alliance > th,
.table > tbody > tr.alliance > th,
.table > tfoot > tr.alliance > th {
  background-color: rgba(0,0,255,0.05);
}
.table-hover > tbody > tr > td.alliance:hover,
.table-hover > tbody > tr > th.alliance:hover,
.table-hover > tbody > tr.alliance:hover > td,
.table-hover > tbody > tr:hover > .alliance,
.table-hover > tbody > tr.alliance:hover > th {
  background-color: rgba(0,0,255,0.08);
}

.table > thead > tr > td.horde,
.table > tbody > tr > td.horde,
.table > tfoot > tr > td.horde,
.table > thead > tr > th.horde,
.table > tbody > tr > th.horde,
.table > tfoot > tr > th.horde,
.table > thead > tr.horde > td,
.table > tbody > tr.horde > td,
.table > tfoot > tr.horde > td,
.table > thead > tr.horde > th,
.table > tbody > tr.horde > th,
.table > tfoot > tr.horde > th {
  background-color: rgba(255, 0, 0, 0.09);
}
.table-hover > tbody > tr > td.horde:hover,
.table-hover > tbody > tr > th.horde:hover,
.table-hover > tbody > tr.horde:hover > td,
.table-hover > tbody > tr:hover > .horde,
.table-hover > tbody > tr.horde:hover > th {
  background-color: rgba(255, 0, 0, 0.12);
}

.clickable {cursor: pointer;}


.input-group div.form-group.select {margin-bottom: 0px;}
.input-group .form-group {margin-top: 0px;}
.input-group {
    margin-bottom: 15px;
    margin-top: 10px;
}

.fc-day-grid-event .fc-content {
    cursor: pointer;
}

div.block-flat > div.footer {
  margin-top: 20px;
}
.loading--div {
  opacity: 0.5;
}
