/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require jquery-ui
*= require bootstrap-datetimepicker
*= require fullcalendar
*= require chosen
*= require_tree .
*= require_self
*/
.order-lines {white-space: nowrap;}
body {font-size: 14px; padding-top: 80px;}
.bottom-buffer { margin-bottom:10px; }
.list-group-item .fa {float: left;}

.list-group-item {padding: 10px 0px;}
.event-modal-title {font-weight: bold;}

.order-lines-table td { white-space: nowrap; }

.customer-show .panel {
  padding: 5px 15px;
}
span.team-paid.true {color: green;}
span.team-paid.false {color: red;}

/****************** Dashboard Tiles ******************/
.fd-tile {
    background-color: #fff;
    color: #555;
    margin-bottom: 15px;
}

.fd-tile.tile-purple {
    background-color: #7761a7;
    color: #fff;
}

.fd-tile.clean {
    background-color: #fff;
    color: #888;
}

.fd-tile.detail {
    position: relative;
    overflow: hidden;
    border: solid 1px #DADADA;
}

.fd-tile .content {
    padding: 10px;
}

.fd-tile.detail .content {
    background: transparent;
    padding: 10px 10px 13px;
    display: inline-block;
    position: relative;
    z-index: 3;
}

.fd-tile .content h1 {
    margin: 0 0 0;
    font-weight: 300;
    font-size: 40px;
}

.cl-mcont h1 {
    line-height: 1.3em;
}

.text-left {
    text-align: left;
}

.fd-tile.detail .icon {
    display: block;
    float: right;
    height: 80px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    width: 80px;
}
.fd-tile.detail .icon {
    display: block;
    float: right;
    height: 80px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 80px;
}


.fd-tile.detail .icon i {
    color: rgba(0, 0, 0, 0.05);
    font-size: 100px;
    line-height: 65px;
}

.fd-tile.detail .icon:before {
    content: '';
}

 /**********************/
 /**** admin/events ****/
 /**********************/
tr.event-row.faction-horde {
  background-color: #FFE7E7;
}

tr.event-row.faction-alliance {
  background-color: #D3E7FF;
}
td.datetime {
  width: 180px;
}
td.title {
  width: 225px;
}
td.team {
  width: 175px;
}
td.character {
  width: 175px;
}