//= depend_on_asset "characters-spritesheet.png"

.characters-sprite {
    background-image: url(asset_data_uri "characters-spritesheet.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.characters-sprite-alliance {
    width: 22px;
    height: 22px;
    background-position: -3px -3px;
}

.characters-sprite-any {
    width: 22px;
    height: 22px;
    background-position: -31px -3px;
}

.characters-sprite-death-knight {
    width: 22px;
    height: 22px;
    background-position: -59px -3px;
}

.characters-sprite-death-knight-blood {
    width: 22px;
    height: 22px;
    background-position: -87px -3px;
}

.characters-sprite-death-knight-frost {
    width: 22px;
    height: 22px;
    background-position: -115px -3px;
}

.characters-sprite-death-knight-unholy {
    width: 22px;
    height: 22px;
    background-position: -143px -3px;
}

.characters-sprite-default {
    width: 22px;
    height: 22px;
    background-position: -171px -3px;
}

.characters-sprite-druid {
    width: 22px;
    height: 22px;
    background-position: -3px -31px;
}

.characters-sprite-druid-balance {
    width: 22px;
    height: 22px;
    background-position: -31px -31px;
}

.characters-sprite-druid-feral {
    width: 22px;
    height: 22px;
    background-position: -59px -31px;
}

.characters-sprite-druid-guardian {
    width: 22px;
    height: 22px;
    background-position: -87px -31px;
}

.characters-sprite-druid-restoration {
    width: 22px;
    height: 22px;
    background-position: -115px -31px;
}

.characters-sprite-horde {
    width: 22px;
    height: 22px;
    background-position: -143px -31px;
}

.characters-sprite-hunter {
    width: 22px;
    height: 22px;
    background-position: -171px -31px;
}

.characters-sprite-hunter-beast-mastery {
    width: 22px;
    height: 22px;
    background-position: -3px -59px;
}

.characters-sprite-hunter-marksmanship {
    width: 22px;
    height: 22px;
    background-position: -31px -59px;
}

.characters-sprite-hunter-survival {
    width: 22px;
    height: 22px;
    background-position: -59px -59px;
}

.characters-sprite-mage {
    width: 22px;
    height: 22px;
    background-position: -87px -59px;
}

.characters-sprite-mage-arcane {
    width: 22px;
    height: 22px;
    background-position: -115px -59px;
}

.characters-sprite-mage-fire {
    width: 22px;
    height: 22px;
    background-position: -143px -59px;
}

.characters-sprite-mage-frost {
    width: 22px;
    height: 22px;
    background-position: -171px -59px;
}

.characters-sprite-monk {
    width: 22px;
    height: 22px;
    background-position: -3px -87px;
}

.characters-sprite-monk-brewmaster {
    width: 22px;
    height: 22px;
    background-position: -31px -87px;
}

.characters-sprite-monk-mistweaver {
    width: 22px;
    height: 22px;
    background-position: -59px -87px;
}

.characters-sprite-monk-windwalker {
    width: 22px;
    height: 22px;
    background-position: -87px -87px;
}

.characters-sprite-paladin {
    width: 22px;
    height: 22px;
    background-position: -115px -87px;
}

.characters-sprite-paladin-holy {
    width: 22px;
    height: 22px;
    background-position: -143px -87px;
}

.characters-sprite-paladin-protection {
    width: 22px;
    height: 22px;
    background-position: -171px -87px;
}

.characters-sprite-paladin-retribution {
    width: 22px;
    height: 22px;
    background-position: -3px -115px;
}

.characters-sprite-priest {
    width: 22px;
    height: 22px;
    background-position: -31px -115px;
}

.characters-sprite-priest-discipline {
    width: 22px;
    height: 22px;
    background-position: -59px -115px;
}

.characters-sprite-priest-holy {
    width: 22px;
    height: 22px;
    background-position: -87px -115px;
}

.characters-sprite-priest-shadow {
    width: 22px;
    height: 22px;
    background-position: -115px -115px;
}

.characters-sprite-rogue {
    width: 22px;
    height: 22px;
    background-position: -143px -115px;
}

.characters-sprite-rogue-assassination {
    width: 22px;
    height: 22px;
    background-position: -171px -115px;
}

.characters-sprite-rogue-combat {
    width: 22px;
    height: 22px;
    background-position: -3px -143px;
}

.characters-sprite-rogue-subtlety {
    width: 22px;
    height: 22px;
    background-position: -31px -143px;
}

.characters-sprite-shaman {
    width: 22px;
    height: 22px;
    background-position: -59px -143px;
}

.characters-sprite-shaman-elemental {
    width: 22px;
    height: 22px;
    background-position: -87px -143px;
}

.characters-sprite-shaman-enhancement {
    width: 22px;
    height: 22px;
    background-position: -115px -143px;
}

.characters-sprite-shaman-restoration {
    width: 22px;
    height: 22px;
    background-position: -143px -143px;
}

.characters-sprite-warlock {
    width: 22px;
    height: 22px;
    background-position: -171px -143px;
}

.characters-sprite-warlock-affliction {
    width: 22px;
    height: 22px;
    background-position: -3px -171px;
}

.characters-sprite-warlock-demonology {
    width: 22px;
    height: 22px;
    background-position: -31px -171px;
}

.characters-sprite-warlock-destruction {
    width: 22px;
    height: 22px;
    background-position: -59px -171px;
}

.characters-sprite-warrior {
    width: 22px;
    height: 22px;
    background-position: -87px -171px;
}

.characters-sprite-warrior-arms {
    width: 22px;
    height: 22px;
    background-position: -115px -171px;
}

.characters-sprite-warrior-fury {
    width: 22px;
    height: 22px;
    background-position: -143px -171px;
}

.characters-sprite-warrior-protection {
    width: 22px;
    height: 22px;
    background-position: -171px -171px;
}
