.class-sprite {
    background-image: url(class-spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.class-sprite-death-knight-blood {
    width: 21px;
    height: 21px;
    background-position: -5px -5px;
}

.class-sprite-death-knight-frost {
    width: 21px;
    height: 21px;
    background-position: -36px -5px;
}

.class-sprite-death-knight-unholy {
    width: 21px;
    height: 21px;
    background-position: -67px -5px;
}

.class-sprite-death-knight {
    width: 21px;
    height: 21px;
    background-position: -98px -5px;
}

.class-sprite-druid {
    width: 21px;
    height: 21px;
    background-position: -129px -5px;
}

.class-sprite-druid-balance {
    width: 21px;
    height: 21px;
    background-position: -160px -5px;
}

.class-sprite-druid-feral {
    width: 21px;
    height: 21px;
    background-position: -5px -36px;
}

.class-sprite-druid-guardian {
    width: 21px;
    height: 21px;
    background-position: -36px -36px;
}

.class-sprite-druid-restoration {
    width: 21px;
    height: 21px;
    background-position: -67px -36px;
}

.class-sprite-hunter {
    width: 21px;
    height: 21px;
    background-position: -98px -36px;
}

.class-sprite-hunter-beast-mastery {
    width: 21px;
    height: 21px;
    background-position: -129px -36px;
}

.class-sprite-hunter-marksmanship {
    width: 21px;
    height: 21px;
    background-position: -160px -36px;
}

.class-sprite-hunter-survival {
    width: 21px;
    height: 21px;
    background-position: -5px -67px;
}

.class-sprite-mage {
    width: 21px;
    height: 21px;
    background-position: -36px -67px;
}

.class-sprite-mage-arcane {
    width: 21px;
    height: 21px;
    background-position: -67px -67px;
}

.class-sprite-mage-fire {
    width: 21px;
    height: 21px;
    background-position: -98px -67px;
}

.class-sprite-mage-frost {
    width: 21px;
    height: 21px;
    background-position: -129px -67px;
}

.class-sprite-monk {
    width: 21px;
    height: 21px;
    background-position: -160px -67px;
}

.class-sprite-monk-brewmaster {
    width: 21px;
    height: 21px;
    background-position: -5px -98px;
}

.class-sprite-monk-mistweaver {
    width: 21px;
    height: 21px;
    background-position: -36px -98px;
}

.class-sprite-monk-windwalker {
    width: 21px;
    height: 21px;
    background-position: -67px -98px;
}

.class-sprite-paladin {
    width: 21px;
    height: 21px;
    background-position: -98px -98px;
}

.class-sprite-paladin-holy {
    width: 21px;
    height: 21px;
    background-position: -129px -98px;
}

.class-sprite-paladin-protection {
    width: 21px;
    height: 21px;
    background-position: -160px -98px;
}

.class-sprite-paladin-retribution {
    width: 21px;
    height: 21px;
    background-position: -5px -129px;
}

.class-sprite-priest {
    width: 21px;
    height: 21px;
    background-position: -36px -129px;
}

.class-sprite-priest-discipline {
    width: 21px;
    height: 21px;
    background-position: -67px -129px;
}

.class-sprite-priest-holy {
    width: 21px;
    height: 21px;
    background-position: -98px -129px;
}

.class-sprite-priest-shadow {
    width: 21px;
    height: 21px;
    background-position: -129px -129px;
}

.class-sprite-rogue {
    width: 21px;
    height: 21px;
    background-position: -160px -129px;
}

.class-sprite-rogue-assassination {
    width: 21px;
    height: 21px;
    background-position: -5px -160px;
}

.class-sprite-rogue-combat {
    width: 21px;
    height: 21px;
    background-position: -36px -160px;
}

.class-sprite-rogue-subtlety {
    width: 21px;
    height: 21px;
    background-position: -67px -160px;
}

.class-sprite-shaman {
    width: 21px;
    height: 21px;
    background-position: -98px -160px;
}

.class-sprite-shaman-elemental {
    width: 21px;
    height: 21px;
    background-position: -129px -160px;
}

.class-sprite-shaman-enhancement {
    width: 21px;
    height: 21px;
    background-position: -160px -160px;
}

.class-sprite-shaman-restoration {
    width: 21px;
    height: 21px;
    background-position: -191px -5px;
}

.class-sprite-warlock {
    width: 21px;
    height: 21px;
    background-position: -191px -36px;
}

.class-sprite-warlock-affliction {
    width: 21px;
    height: 21px;
    background-position: -191px -67px;
}

.class-sprite-warlock-demonology {
    width: 21px;
    height: 21px;
    background-position: -191px -98px;
}

.class-sprite-warlock-destruction {
    width: 21px;
    height: 21px;
    background-position: -191px -129px;
}

.class-sprite-warrior {
    width: 21px;
    height: 21px;
    background-position: -191px -160px;
}

.class-sprite-warrior-arms {
    width: 21px;
    height: 21px;
    background-position: -5px -191px;
}

.class-sprite-warrior-fury {
    width: 21px;
    height: 21px;
    background-position: -36px -191px;
}

.class-sprite-warrior-protection {
    width: 21px;
    height: 21px;
    background-position: -67px -191px;
}
