// Place all the styles related to the event_slots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.events-slot {
    min-height: 35px;
    padding: 8px 0px;
    margin-bottom: 2px;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.02);
}

.row.events-slot.not-vacant {}

.row.events-slot.vacant {}

.row.events-slot div.dropdown, .row.events-event div.dropdown {
    display: inline;
    margin-right: 20px;
}