      <tr>
        <td><%= loot_option.display_name %></td>
        <td><%= link_to 'Edit', edit_admin_loot_option_path(loot_option) %></td>
        <td><%= link_to 'Destroy', admin_loot_option_path(loot_option), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr
      