
<%= simple_form_for([:admin, @order_line_status], remote: true) do |f| %>
  <div class="form-inputs">
    <%= f.input :name, class: "col-sm-6" %>
    <%= f.button :submit, 'Save' %>
  </div>
<% end %>