<div class="row">
  <div class="col-md-12 %>">
    <table class="table table-striped table-hover order-lines">
      <thead>
        <tr>
        <th colspan="16">Dispatched</th>
        </tr>
        <tr>
          <th>Date</th>
          <th>Order</th>
          <th>Category</th>
          <th>Zone</th>
          <th>Difficulty</th>
          <th>Description</th>
          <th>Play Style</th>
          <th>Loot</th>
          <th>Mount</th>
          <th>Sale</th>
          <th>Site</th>
          <th>Payment</th>
          <th>Customer</th>
          <th>Character</th>
          <th>Region</th>
          <th>Faction</th>
        </tr>
      </thead>
      <tbody>
        <%= render @dispatched_orders %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 %>">
    <table class="table table-striped table-hover order-lines">
      <thead>
        <tr>
        <th colspan="16">Completed</th>
        </tr>
        <tr>
          <th>Date</th>
          <th>Order</th>
          <th>Category</th>
          <th>Zone</th>
          <th>Difficulty</th>
          <th>Description</th>
          <th>Play Style</th>
          <th>Loot</th>
          <th>Mount</th>
          <th>Sale</th>
          <th>Site</th>
          <th>Payment</th>
          <th>Customer</th>
          <th>Character</th>
          <th>Region</th>
          <th>Faction</th>
        </tr>
      </thead>
      <tbody>
        <%= render @completed_orders %>
      </tbody>
    </table>
  </div>
</div>