      <tr>
        <td><%= armor_type.display_name %></td>
        <td><%= link_to 'Edit', edit_admin_armor_type_path(armor_type) %></td>
        <td><%= link_to 'Destroy', admin_armor_type_path(armor_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr
      