<tr>
  <td><%= team.display_name %></td>
  <td><%= team.display_alias %></td>
  <td><%= team.display_realm %></td>
  <td><%= team.faction.display_name %></td>
  <td><%= team.payment_type.display_name %>: <%= team.payment_address %></td>
  <td><%= team.try(:owner).try(:display_name) %></td>
  <td>
    <div class="dropdown">
      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-xs">
        <i class="fa fa-cogs"></i>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe, dashboard_team_path(team) %></li>
        <li><%= link_to '<i class="fa fa-eye"></i> Details'.html_safe, team %></li>
        <li><%= link_to '<i class="fa fa-calendar-o"></i> Schedule'.html_safe, team_event_slots_path(team) %></li>
        <li><%= link_to '<i class="fa fa-check"></i> Completed Orders'.html_safe, completed_orders_team_path(team) %></li>
        <li><%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_admin_team_path(team) %></li>
        <li><%= link_to '<i class="fa fa-trash"></i> Destroy'.html_safe, admin_team_path(team), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </td>
</tr>
