<% @teams_by_status.each do |status, teams| %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="block-flat">
              <h3><%= status.titleize %></h3>
      <table class="no-border">
        <thead class="no-border">
          <tr>
            <th>Name</th>
            <th>Alias</th>
            <th>Realm</th>
            <th>Faction</th>
            <th>Payment</th>
            <th>Owner</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody class="no-border-y">
          <%= render teams %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
