      <tr>
        <td><%= team_status.display_name %></td>
        <td><%= link_to 'Edit', edit_admin_team_status_path(team_status) %></td>
        <td><%= link_to 'Destroy', admin_team_status_path(team_status), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr
      