      <tr>
        <td><%= payment_type.display_name %></td>
        <td><%= link_to 'Edit', edit_admin_payment_type_path(payment_type) %></td>
        <td><%= link_to 'Destroy', admin_payment_type_path(payment_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr
      