      <!-- Begin user links -->
      <li><a href="#"><i class="fa fa-user"></i> Account</a>
        <ul class="list-unstyled">
          <!-- Signed in Links -->
          <% if user_signed_in? %>
          <li class="sub-nav"><%= link_to 'Edit account', edit_user_registration_path %></li>
          <% else %>
          <li class="sub-nav"><%= link_to 'Sign in', new_user_session_path %></li>
          <li class="sub-nav"><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </li>
      <!-- End user links -->
    