<li><a href="#"><i class="fa fa-users"></i>  Users</a>
  <ul class="list-unstyled">
    <%= sub_nav_link('Create Customer', new_admin_customer_path) %>
    <%= sub_nav_link('Customers Admin', new_admin_customer_path) %>
    <%= sub_nav_link('Members Admin', new_admin_customer_path) %>
  </ul>
</li>
