<li><a href="#"><i class="fa fa-diamond"></i> Orders</a>
  <ul class="list-unstyled">
  <%= sub_nav_link('Create Order', new_admin_order_line_path) %>
  <%= sub_nav_link('Orders Admin', admin_order_lines_path) %>
  </ul>
</li>
