      <% if user_signed_in? %>
      <!-- Begin Events links -->
      <li><a href="#"><i class="fa fa-diamond"></i> Orders</a>
        <ul class="list-unstyled">
        
          <% if current_user.admin? %>
          <li class="sub-nav"><%= link_to 'All Orders', admin_order_lines_path %></li>
          <li class="sub-nav"><%= link_to 'Create Order', new_admin_order_line_path %></li>
          <% else %>            
            <% current_user.approved_teams.each do |team| %>
          <li class="sub-nav"><%= link_to team.display_name, team_order_lines_path(team) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      <!-- End team links -->
      <% end %>
    