<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Create Team', new_team_path %></li>
    <li><%= link_to 'View All Teams', teams_path %></li>
    <li role="separator" class="divider"></li>
    <% current_user.approved_teams.order(name: :asc).each do |team| %>
    <li><%= link_to team.display_name, team %></li>
    <% end %>
  </ul>
</li>