<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Create Team', new_team_path %></li>
    <li><%= link_to 'View Teams', teams_path %></li>
  </ul>
</li>