      <li><a href="#"><i class="fa fa-users"></i>  Users</a>
        <ul class="list-unstyled">
          <li class="sub-nav"><%= link_to 'Create Customer', new_admin_customer_path %></li>
          <li class="sub-nav"><%= link_to 'View Customers', admin_customers_path %></li>
          <li class="sub-nav"><%= link_to 'View Members', admin_users_path%></li>
        </ul>
      </li>
