<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Boosting Edge, LLC Order Management System">
  <title>Boosting Edge, LLC - Order Management System</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="animated">
    <div id="cl-wrapper">
      <%= render "menus/sidebar" %>
      <div class="container-fluid" id="pcont">
        <%= render "menus/navbar" %>
        <div class="cl-mcont">
          <%= render partial: 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="modal fade colored-header" id="modal-holder" tabindex="-1" role="dialog">
      <div class="modal-dialog">
      <div class="modal-content" id="modal-contents">

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      <%= content_for :foot_js %>
    </script>
    <%= insert_paloma_hook %>
  </body>
  </html>
